h1 {
   font-family: "SFMono-Regular", menlo, consolas, monospace !important;
   text-transform: uppercase !important;
}

.site-header {
   font-family: "SFMono-Regular", menlo, consolas, monospace !important;
   text-transform: uppercase !important;
}

a {
   color: #830b00 !important;
}